letsplaybingo.classic-main/.gitignore
bingo-shortcode.php
custom-bingo-app.html
bingo.php

familyaccess.php
bingo-session.php
wordpress-bingo-session-snippet.php
buttons.txt
Bingo Cards/Book1.pdf
Bingo Cards/Book2.pdf
Bingo Cards/Book3.pdf
Bingo Cards/Book4.pdf
Bingo Cards/Book5.pdf
Bingo Cards/Book6.pdf
Bingo Cards/Book7.pdf
Bingo Cards/Book8.pdf
Bingo Cards/Book9.pdf
Bingo Cards/Book10.pdf
Bingo Cards/Book11.pdf
Bingo Cards/Book12.pdf
